.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("/img/IMG_2412.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.class-white-text-main {
  color: white;
  font-size: 400%;
}

.class-white-text-sub {
  color: white;
  font-size: 200%;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://tdslivensky.github.io/img/IMG_2412.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.class-white-text-main {
  color: white;
  font-size: 400%;
  font-family: 'Lato', sans-serif;
}

.class-white-text-sub {
  color: white;
  font-size: 200%;
  font-family: 'Lato', sans-serif;
}

menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

menu li {
	width: 170px;
	height: 75px;
}

menu button {
	transition: all 450ms cubic-bezier(.4,.25,.3,1.3);
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 60%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F8F8ff;
	cursor: pointer;
	overflow: hidden;
}
	
menu button span {
	transition: all 400ms cubic-bezier(.4,.25,.3,1.3) 100ms;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 60px;
	vertical-align: middle;
}

menu button span:first-of-type {
	transform: translate(-50%,-50%);
}

menu button span:last-of-type {
	transform: translate(-50%,50%);
	text-transform: uppercase;
}

menu button:hover {
	width: 150px;
	border-radius: 0;
}
		
menu button:hover span:first-of-type {transform: translate(1000%,-100%)}
menu button:hover span:last-of-type {transform: translate(-50%,-50%)}

@media screen and (max-height: 450px) {
  menu {padding-top: 15px;}
  menu a {font-size: 18px;}
}

ul,
ol,
menu {
		list-style: none;
	}

button,
input,
optgroup,
select,
textarea {
  	color: inherit;
  	font: inherit;
  	margin: 0;
  	background: transparent;
		outline: none;
		border: none;
		border-radius: 0;
		appearance: none;
	}
button,
select {
  text-transform: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
/* ∞∞ global ∞∞ */
	* {
		position: relative;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border-color: inherit;
	}