.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("/img/IMG_2412.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.class-white-text-main {
  color: white;
  font-size: 400%;
}

.class-white-text-sub {
  color: white;
  font-size: 200%;
}